@import "../colors.module.scss";

.members {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.tableHeader {
  display: flex;
  gap: 5px;
  align-items: center;
}

.divider {
  border: 0.5px solid lighten($COLOR_CREAM30, 15%);
  width: 820px;
  height: 0;
}

.wideForm {
  width: 100%;
  margin-top: 8px;
  .submitButton,
  .submitContainer {
    margin: 24px 0 16px;
  }
}

.raffleForm {
  @extend .wideForm;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.acceptButton {
  background-color: $COLOR_BLUE !important;
  &:disabled {
    background-color: lighten($COLOR_GREY, 40%) !important;
  }
}

.raffleResults {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}
