@import "../colors.module.scss";

.round-elem {
  border-radius: 15%;
  transition: 0.2s ease-out;
}

.DayPicker-Day {
  @extend .round-elem;

  &.DayPicker-Day--disabled {
    color: $COLOR_BLACK_TINT_50;
  }
  &.DayPicker-Day--selected:not(.DayPicker-Day--outside) {
    background-color: $COLOR_GREEN !important;
  }
  &:hover:not(.DayPicker-Day--selected, .DayPicker-Day--disabled) {
    background-color: lighten($COLOR_GREEN_LIGHT, 17%) !important;
  }
  &:active:not(.DayPicker-Day--selected, .DayPicker-Day--disabled) {
    background-color: lighten($COLOR_GREEN_LIGHT, 19%) !important;
  }
}

.DayPicker-Weekday {
  color: darken($COLOR_BLACK_TINT_50, 35%);
}

.DayPicker-WeekNumber {
  @extend .round-elem;
  color: darken($COLOR_BLACK_TINT_50, 35%);
  border-color: lighten($COLOR_BLACK_TINT_50, 5%);

  &:hover {
    background-color: lighten($COLOR_ORANGE, 24%) !important;
  }
  &:active {
    background-color: lighten($COLOR_ORANGE, 26%) !important;
  }
}

.DayPicker-Day--selected {
  outline: 1px solid #3b82f6; /* or box-shadow if that's what's used */
  outline-offset: 0px; /* reduce space between ring and element */
  /* or use box-shadow instead if needed */
  box-shadow: 0 0 0 1px #3b82f6;
}

.custom-day {
  position: relative; /* Ensure the main element is positioned relatively */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
  line-height: 30px; /* Adjust the line height to match the height */
  border-radius: 50%; /* Make the element a circle */

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: inherit; /* Inherit the background color from the parent */
    z-index: -1; /* Ensure the pseudo-element is behind the main content */
  }
}
