@import "../colors.module.scss";

.tableContainer {
  margin-bottom: 30px;
}

.table {
  background-color: $COLOR_CREAM5;

  .loading {
    cursor: wait;
  }
}

.smallCell {
  max-width: 0.1em;
}

.mediumCell {
  max-width: 1.5em;
}

.editedCell {
  width: 145px;

  .textField {
    width: 80px;
  }
}

.checkbox {
  color: $COLOR_GREEN !important;
}

.editButton {
  path {
    color: $COLOR_CREAM5;
  }

  &.hover path,
  &:focus:not(.hover) path {
    color: $COLOR_BLACK;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;

  .cancelButton path {
    color: $COLOR_RED;
  }
  .acceptButton path {
    color: $COLOR_GREEN_DARK;
  }
}
