@import '../colors.module.scss';

.rowStyle {
  flex-Direction: row;
  display: flex;
  justify-Content: center;
}

.trackRowStyle {
  flex-Direction: row;
  display: flex;
  justify-Content: center;
  flex-Wrap: wrap;
}

.greenButtonStyle {
  font-Size: 17;
  background-Color: $COLOR_GREEN;
  border-Radius: 50;
  width: 250;
  height: 100;
  margin: 8;
}

.orangeButtonStyle {
  font-Size: 17;
  background-Color: $COLOR_ORANGE;
  border-Radius: 50;
  width: 250;
  height: 100;
  margin: 8;
}

.redButtonStyle {
  font-Size: 17;
  background-Color: $COLOR_RED;
  border-Radius: 50;
  width: 250;
  height: 100;
  margin: 8;
}

.saveButtonStyle {
  background-Color: $COLOR_BLUE;
}

.cancelButtonStyle {
  background-Color: $COLOR_CREAM10;
}

.simpleButton {
  padding: '2px 10px';
  border-Radius: 15;
  font-Size: '1.2rem';
}

.rangeStyle {
  text-Align: center;
  margin: 10;
  margin-Top: 0;
}

.dialogStyle {
  background-Color: $COLOR_CREAM5;
}

.rangediv {
  width: 300;
}

// from rangeofficer.css

.containsAll {
    margin: 20px;
    align-content: center;
}

.midInfo {
    margin-left: 10px;
    display:flex;
    flex-flow: row wrap;
    align-items: center;
}

.hoverHand:hover {
    cursor: pointer;
  }

.rangeOfficerStatus {
    border-radius: 10px;
    background-color: $COLOR_GREEN;
    padding: 10px;
    margin: 0px 50% 10px 10px;
    text-align: center;
}

.dateInfo {
    margin: 0px 50% 10px 10px;
    text-align: center;
}

.changeStatus {
    background-color: $COLOR_GREEN;
    padding: 5px 20px 5px 20px;
    margin: 3px;
    display: inline-block;
    border-radius: 10px;
}

.changeTrack {
    background-color: $COLOR_GREEN;
    padding: 5px 20px 5px 20px;
    margin: 3px;
    float: left;
    border-radius: 10px;
    width: 5vw;
    max-width:5vw;
}

.trackName {
    padding: 5px 20px 5px 20px;
    margin: 3px;
    float: left;
    border-radius: 10px;
    width: 5vw;
    max-width:5vw;
}

.addVisitors {
    display: flex;
    justify-content: center;
}

.MuiButton-label {
    font-size: 1.2em;
}

.Status {
    display: flex;
    max-width: 80%;
    width: 400px;
    margin: auto;
}

.Text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 4px;
    font-size: 2rem;
}