.hoverHand:hover {
  cursor: pointer;
}

.progress {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.notCurMonth {
  opacity: 0.6;
}

.weekdays {
  text-align: center;
  justify-content: center;
  display: flex;
  width: 100%;
}

.weekdays > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 7 - 2px);
  height: 5vh;
  min-height: 48px;
  border-right: 2px solid;
  border-top: 2px solid;
  border-bottom: 4px solid;
}

.month-container {
  justify-content: center;
  text-align: center;
  margin: auto;
  display: flex;
  width: 100vw;
  max-width: 1025px;
  flex-wrap: wrap;
  font-size: large;
  font-weight: bold;
}

.month-days {
  display: flex;
  text-align: center;
  justify-content: left;
  flex-wrap: wrap;
  width: 100%;
}
.month-days > a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 7 - 2px);
  height: 10vh;
  min-height: 48px;
  font-weight: normal;
  border-bottom: 2px solid;
  border-right: 2px solid;
}

.weekNumber {
  display: none;
  text-align: center;
  justify-content: left;
  flex-wrap: wrap;
  width: calc(100% / 8);
}

.weekdays .weekNumber{
  justify-content: center;
  display: none;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-left: 2px solid;
  width: calc(100% / 8 - 6px);
}

.weekNumber > a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
  min-height: 48px;
  border-bottom: 2px solid;
  border-right: 4px solid;
  border-left: 2px solid;
}

.viewChanger-current {
  display: flex;
  justify-content: flex-start;
  border-right: 1px solid;
}

.viewChanger-current > a {
  padding: 8px;
  padding-top: 16px;
  align-items: center;
  border: 1px;
  border-bottom: 0;
  border-style: solid;
  border-color: black;
  font-size: large;
  font-weight: bold;
  background-color: grey;
  color: grey;
}

.viewChanger-current > a > div {
  color: black;
}

.viewChanger {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 57px;
  font-weight: bold;
}

.viewChanger-container {
  display: flex;
  justify-content: flex-end;
  border-right: 1px solid;
}

.viewChanger-container > a {
  padding: 8px;
  padding-top: 16px;
  align-items: center;
  border: 1px;
  border-right: 0px;
  border-bottom: 0;
  border-style: solid;
  border-color: black;
  font-size: large;
  font-weight: bold;
  background-color: grey;
  color: grey;
}

.viewChanger-container > a > div {
  color: black;
}
.dateHeader-text {
  max-width: 320px;
  width: 100vw;
}

.date-headerM {
  height: 10em;
  width: 99vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Monthview-info {
  position: absolute;
  margin-top: 2pt;
  width: 20px;
  height: 20px;
}

.monthview-day-img {
    margin-right: 22px;
  }

/* media files */

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media only screen and (min-width:320px) {

}

/* smartphones, Android phones, landscape iPhone */
@media only screen and (min-width:480px) {
  .viewChanger-container > a {
  padding: 16px;
  }
  .viewChanger-current > a {
  padding: 16px;
  }
  .Monthview-info {
  margin-left: 3px;
  }
  .monthview-day-img {
    margin-right: 16px;
  }

  .weekNumber {
      display: flex;
    }

    .month-days {
      width: calc(100% / 8 * 7);
    }

    .weekdays .weekNumber{
      display: flex;
    }

    .weekdays > a {
      width: calc(100% / 8 - 2px);
    }

    .weekdays > div {
      width: calc(100% / 8 - 2px);
    }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media only screen and (min-width:600px) {

}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media only screen and (min-width:801px) {

}

/* big landscape tablets, laptops, and desktops */
@media only screen and (min-width:1025px) {

}

/* hi-res laptops and desktops */
@media only screen and (min-width:1281px) {

}
