nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   min-height: 20vh;
   background-color: #d8c3a5;
   background-color: cyan;
   /* color: black; */
}

.logoStyle {
	min-width: 90%;
	text-Decoration: none;
	height: 100%;
	width: 60%;
	display: block;
}

.arrow-up-nav {
  width: 0;
  height: 0;
  border-bottom: 26px solid black;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  text-align: right;
  margin-left: 1vw;
  margin-right: 4vW;
  display: flex;
  align-items: center;
}

.arrow-down-nav {
  width: 0;
  height: 0;
  border-top: 26px solid black;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  text-align: right;
  margin-left: 1vw;
  margin-right: 4vW;
  display: flex;
  align-items: center;
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media only screen and (min-width:320px) {
.phone {
	margin-right: 1vw;
	min-width: 48px;
}
}
/* smartphones, Android phones, landscape iPhone */
@media only screen and (min-width:480px) {

}
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media only screen and (min-width:600px) {
.phone {
	display: none;
}

.pc {
	display: inline;
}

.logoStyle {
	min-width: 95%;
}

.clickable {
	display: flex;
	min-height: 10vh;
	justify-content: center;
  	align-items: center;
}
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media only screen and (min-width:801px) {
}
/* big landscape tablets, laptops, and desktops */
@media only screen and (min-width:1025px) {
nav{
	flex-wrap: nowrap;
}

.logoStyle {
	min-width: 0%;
	width: 70%;
}
}
/* hi-res laptops and desktops */
@media only screen and (min-width:1281px) {

}
