[Unit]
Description=Tasera Scheduling Software
# Requires=tasera-scheduling-software.socket
After=postgresql.service
After=network.target

[Service]
Environment=NODE_ENV=stable
Environment=ALT_PORT=80
Environment=DB_PASSWORD=# password here
Environment=SERVER_HOST=# host osoite tähän
WorkingDirectory=/var/www/tasera-scheduling-software
Type=simple
User=root
Group=root
ExecStart=/usr/bin/npm run start
Restart=on-failure

[Install]
WantedBy=multi-user.target
