.visitorAmount {
  max-width: 14ch;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 1.6rem;
}

.trackContainer {
  margin-left: 23px;
  width: 230px;
  display: flex;
  justify-content: space-between;
}

.buttonText {
  font-size: 1.6rem;
}
