@import '../shared.module.scss';

.visitorAmount {
  max-width: 14ch;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 1.6rem;
}

.trackContainer {
  @extend .layout-row;
  margin-left: 23px;
  width: 230px;
  justify-content: space-between;
}

.button {
  margin-top: 4;
  width: 50;
  height: 50;
  border-radius: 50;

  .text {
    font-size: 1.6rem;
  }
}
