.email-settings {
  padding: 1vmin 5vmin 1vmin 5vmin;
  margin: auto;
  max-width: 500px;

  legend {
    font-size: 1.4rem;
    padding-bottom: 15px;
  }

  * {
    display: grid;
  }
}

.settings-label {
  margin-top: 5vh;
}

.results-div {
  margin-top: 2vh;
}

.result-card {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.result-success {
  background-color: green;
}

.result-failure {
  background-color: red;
}

#send-pending-button {
  max-width: 35%;
}