.exclamation-2 {
  position: relative;
  top: 30px;
  margin: 0;
  width: 80%;
  max-height: 80%;
  max-width: 80%;
}

.red {
  background-color: red;
  margin-left: 20vh;
}

.white {
  background-color: white;
  margin-left: 45vh;
}

.big-container {
  width: 100vw;
  max-width: 1025px;
  margin: auto;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  border: 1px solid;
  border-right: 0px;
}

.flex-container2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  border-right: 1px solid;
  border-left: 1px solid;
  border-top: 1px solid;
}

.flex-container2 ~ .flex-container2 {
  border-top: 0px;
}

.date-header {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex-container2 > a {
  outline: 0px solid black;
  background-color: #eae7dc;
  width: calc(100% / 7);
  margin: 0px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.flex-container > a {
  border-right: 1px solid;
  width: calc(100% / 7);
  margin: 0px;
  text-align: center;
  height: 125px;
  text-decoration: none;
  color: black;
}

.main-grid {
  direction: column;
  justify-content: left;
  align-items: center;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid black;
  margin-left: 1vw;
  display: flex;
  float: right;
  align-items: center;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid black;
  text-align: right;
  margin-right: 1vw;
  display: flex;
  align-items: center;
}

.progress {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hoverHand:hover {
  cursor: pointer;
}

.klockan {
  margin-left: 16vw;
}

.info-item-img {
  position: relative;
  display: flex;
  min-width: 320px;
  width: 30vw;
  height: 38px;
  justify-content: left;
}

/* media files */

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media only screen and (min-width:320px) {

}
/* smartphones, Android phones, landscape iPhone */
@media only screen and (min-width:480px) {
  .exclamation-2 {
    top: 15px;
    width: 70%;
    max-height: 70%;
    max-width: 70%;
    padding-top: 10%;
  }
}
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media only screen and (min-width:600px) {
  .exclamation-2 {
    width: 60%;
    max-height: 60%;
    max-width: 60%;
    padding-top: 10%;
   }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media only screen and (min-width:801px) {
  .exclamation-2 {
    padding-top: 0;
   }
}
/* big landscape tablets, laptops, and desktops */
@media only screen and (min-width:1025px) {

}
/* hi-res laptops and desktops */
@media only screen and (min-width:1281px) {

}