.container {
  /* Tyyli container-elementille */
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
}

.material-table {
  /* Tyyli material-table-elementille */
  margin-top: 20px;
}

.switch {
  /* Tyyli switch-elementille */
  margin-left: 10px;
}