.devicesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Laitetaan laitteet ja napit sivun oikeaan reunaan */
  
}

.device {
  margin-bottom: 6px;
  margin-bottom: 6px;
}

.button {
  width: 170px;
  height: 54px;
  border-radius: 5px;
  font-size: 13px;

  background-color: #ffffff;
}

.device h3 {
  margin-top: 0; /* Poistetaan laitteen nimen ylämarginaali */
  margin-bottom: 0;
  text-align: center; /* Keskitetään laitteen nimi */
  font-weight: 500;
}