@import '../shared.module.scss';


.exclamation {
  @extend .noFlex;
  position: absolute;

  bottom: 1px;
  height: 20px;
  width: 20px;
  margin-right: 16px;
  margin-bottom: 0px;
  clear: both;
  min-height: 22px;
  min-width: 22px;
}

.infoFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 32px;
}

.infoItem {
  display: flex;
  min-width: 320px;
  width: 30vw;
  height: 38px;
  justify-content: left;
}

.box {
  float: left;
  height: 20px;
  width: 20px;
  margin-right: 8px;
  margin-left: 0px;
  margin-bottom: 0px;
  border: 1px $COLOR_BLACK;
  clear: both;
  min-height: 20px;
  min-width: 20px;
}

#openInfo {
  display: flex;
  background: $COLOR_GREEN;
}

#rangeOfficerInfo {
  display: flex;
  background: $COLOR_GREEN_LIGHT;
}

#closedInfo {
  display: flex;
  background: $COLOR_RED_LIGHT;
}

#closedInfo2 {
  display: flex;
  background: $COLOR_TURQUOISE;
}

#noInfo {
  display: flex;
  background: $COLOR_CREAM5;
}

#onwayInfo {
  display: flex;
  background: $COLOR_ORANGE;
}

.noFlex {
  display: inline-block;
}

.infoText {
  display: inline;
  overflow: auto;
  margin-bottom: 0;
}

.relativeText {
  position: absolute;
  bottom: 0;
  left: 30px;
}

.infoItemImg {
  position: relative;
  display: flex;
  min-width: 320px;
  width: 30vw;
  height: 38px;
  justify-content: left;
}
