$COLOR_GREEN: #658f60;
$COLOR_GREEN_LIGHT: #b2d9ad;
$COLOR_GREEN_DARK: #1e5c3b;
$COLOR_RED: #c23a3a;
$COLOR_RED_LIGHT: #c97b76;
$COLOR_ORANGE: #f2c66d;
$COLOR_TURQUOISE: #95d5db;
$COLOR_BLUE: #5f77a1;
$COLOR_CREAM0: #fcfbf7;
$COLOR_CREAM5: #f2f0eb;
$COLOR_CREAM10: #ebe7df; // TODO: use in place of ede9e1
$COLOR_CREAM30: #b0aca0;
$COLOR_CREAM40: #e9c99c;
$COLOR_CREAM50: #d8c3a5;
$COLOR_GREY: #555555;
$COLOR_LIGHT_GREY: #808080;
$COLOR_BLACK: #000000;
$COLOR_WHITE: #ffffff;
$COLOR_BLACK_TINT_80: #303030;
$COLOR_BLACK_TINT_70: #4d4d4d;
$COLOR_BLACK_TINT_60: #666666;
$COLOR_BLACK_TINT_50: #808080;
$COLOR_BLACK_TINT_40: #999999;
$COLOR_BLACK_TINT_30: #b3b3b3;
$COLOR_BLACK_TINT_20: #cccccc;
$COLOR_BLACK_TINT_10: #e9e9e9;
$COLOR_SAND: #d1ccc2;

:export {
  green: $COLOR_GREEN;
  greenLight: $COLOR_GREEN_LIGHT;
  greenDark: $COLOR_GREEN_DARK;
  red: $COLOR_RED;
  redLight: $COLOR_RED_LIGHT;
  orange: $COLOR_ORANGE;
  turquoise: $COLOR_TURQUOISE;
  blue: $COLOR_BLUE;

  cream0: $COLOR_CREAM0;
  cream5: $COLOR_CREAM5;
  cream10: $COLOR_CREAM10;
  cream30: $COLOR_CREAM30;
  cream40: $COLOR_CREAM40;
  cream50: $COLOR_CREAM50;

  grey: $COLOR_GREY;
  lightGrey: $COLOR_LIGHT_GREY;
  black: $COLOR_BLACK;
  blackTint80: $COLOR_BLACK_TINT_80;
  blackTint70: $COLOR_BLACK_TINT_70;
  blackTint60: $COLOR_BLACK_TINT_60;
  blackTint50: $COLOR_BLACK_TINT_50;
  blackTint40: $COLOR_BLACK_TINT_40;
  blackTint30: $COLOR_BLACK_TINT_30;
  blackTint20: $COLOR_BLACK_TINT_20;
  blackTint10: $COLOR_BLACK_TINT_10;
  white: $COLOR_WHITE;
}
