/* Breakpoints
    xs, extra-small: 0px
    sm, small: 600px
    md, medium: 960px
    lg, large: 1280px
    xl, extra-large: 1920px
*/

.dayviewContainer h1 {
  margin:2vh;
  width:200px;
}

.dayviewContainer h2 {
  margin:2vh;
}

.dayviewContainer {
  padding:5vmin 20vmin 5vmin 20vmin;
}

@media only screen and (max-width: 1280px) {
  .dayviewContainer {
    padding:5vmin 10vmin 5vmin 10vmin;
  }
}

@media only screen and (max-width: 600px) {
  .dayviewContainer {
    padding:2vmin 2vmin 2vmin 2vmin;
  }
}

.dayviewContainer .info {
  text-align: center;
  background:lightgreen;
}

.dayviewContainer .sevenGrid {
  border:solid 1px black;
}

/* To have 7 boxes force size 100 / 7 = 14.28571428571429 */
.dayviewContainer .sevenGrid > div {
  max-width:14.28571428571429%;
}

@media only screen and (max-width: 600px) {
  .dayviewContainer .sevenGrid > div {
    max-width:100%;
  }
}

.dayviewContainer .track {
  background:lightgray;
  border:solid 1px black;
  box-sizing: border-box;
}

.dayviewContainer .track > a > p {
  padding-left:2vh;
  overflow:hidden;
  font-size:100%;
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .dayviewContainer .track > a > p {
    font-size:60%;
  }
}

.dayviewContainer .clickableBox {
  box-sizing: border-box;
  background:white;
  padding:25% 2vh 25% 2vh;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .dayviewContainer .clickableBox {
    background:white;
    padding:2vh;
  }
}

.dayviewContainer .otherInfo {
  margin-top:2vh;
}

.dayviewContainer .colorInfo {
  margin-bottom:1vh;
}

.dayviewContainer .excolor {
  border:solid 1px black;
  width:20px;
  margin-right:5px;
  display:inline-block;
}

.dayviewContainer .colorInfo > p {
  margin:0;
  padding:0;
  display:inline-block;
}

.dayviewContainer .greenB {
  background:green;
}
.dayviewContainer .lightGreenB {
  background:lightgreen;
}

.dayviewContainer .redB {
  background:red;
}

.dayviewContainer .whiteB {
  background:white;
}

.dayviewContainer .arrow-right {
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  
  border-left: 20px solid black;

  display: flex;
  align-items: center;
}

.dayviewContainer .arrow-left {
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  
  border-right:20px solid black; 
  text-align: right;

  display: flex;
  align-items: center;
}

.dayviewContainer .back > svg {
  margin-bottom:-7px;
  margin-right:5px;
}

.dayviewContainer .hoverHand:hover {
  cursor: pointer;
}

.dayviewContainer .trackBoxLink{
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color:black;
}