.container {
  padding:10vh;
}

.info {
  background:lightgreen;
}

.track {
  background:lightgray;
  border:solid 1px black;
}

@media (max-width: 600px) {
  .track {
    max-height:100px;
    border:solid 1px black;
  }
  .track > p {
    background:pink;
  }
}

.clickableBox {
  background:white;
  padding:50% 5% 10% 50%;
}

@media (max-width: 600px) {
  .clickableBox {
    background:white;
    padding:2vh;
  }
}

.otherInfo {
  width:100%;
  margin-top:1vh;
}

.colorInfo {
  margin-top:1vh;
}

.excolor {
  border:solid 1px black;
  width:20px;
  margin:0 5px 0 0;
  display:inline-block;
}

.excolorText {
  display:inline-block;
}

.greenB {
  background:green;
}

.redB {
  background:red;
}

.whiteB {
  background:white;
}