.schedulingRoot {
  padding:1vmin 5vmin 1vmin 5vmin;
}

.schedulingRoot .MuiButton-contained {
  margin:1vmin 1vmin 1vmin 0vmin;
}

hr {
  margin:10px 0px 10px 0px;
}

.schedulingRoot .firstSection form {
  display:flex;
  flex-flow: row wrap;
  align-items: center;
}

.schedulingRoot .firstSection .continue .MuiButtonBase-root{
  margin:15px 0 0 10px;
}

.schedulingRoot .secondSection .topRow {
  display:inline-block;
  width:100%;
}

.schedulingRoot .secondSection .topRow .MuiFormControl-root {
  width:100px;
}

.schedulingRoot .secondSection .topRow {
  display:flex;
  flex-flow: row wrap;
  align-items: center;
}

.schedulingRoot .secondSection .topRow .dash {
  padding:20px 20px 0 20px;
}

.schedulingRoot .secondSection .bottomRow {
  display:flex;
  flex-flow: row wrap;
  align-items: center;
  padding:20px 0 20px 0;
}

.schedulingRoot .secondSection .bottomRow .roSwitch {
  padding-top:13px;
}

.schedulingRoot .secondSection .bottomRow .MuiFormControl-root:nth-child(2) {
  min-width:150px;
  /*background:red;*/
}

.schedulingRoot .thirdSection .leftSide {
  padding-top:15px;
  display:flex;
  flex-flow: row wrap;
  align-items: center;
}

.schedulingRoot .thirdSection .MuiFormControl-root{
  padding: 0px 30px 30px 0px;
}

.schedulingRoot .fourthSection .repeatCount {
  display:flex;
  flex-flow: row wrap;
  align-items: center;
}

.schedulingRoot .fourthSection .repeatCount .MuiFormControl-root{
  padding-left:10px;
  width:50px;
}

.schedulingRoot .fourthSection .repeatCount{
  padding-bottom:10px;
}