.wholeScreenDiv {
  text-align: center;
  align-items: center;
}

.trackNameAndType {
  padding: 8;
  background-color: "#f2f0eb";
  text-align: center;
  align-items: flex-end;
  display: grid;
  flex-direction: "row";
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.infoBox {
  background-color: #f2f0eb;
  outline: 2px solid black;
  color: black;
  width: 440px;
  border: 1px;
  height: 105px;
  margin: 0 auto;
  margin-bottom: 15px;
  text-align: center;
  align-items: center;
  padding: 5px;
  min-height: 48px;
}

.isAvailable {
  background-color: #658f60;
  color: black;
  padding: 12px;
  text-align: center;
  align-items: center;
  width: 60vw;
  margin-left: 19vw;
  font-weight: bold;
  font-size: larger;
}

.isClosed {
  background-color: #c97b7b;
  color: black;
  padding: 12px;
  text-align: center;
  align-items: center;
  width: 60vw;
  margin-left: 19vw;
  font-weight: bold;
  font-size: larger;
}

.isUnavailable {
  background-color: #f2f0eb;
  color: black;
  padding: 12px;
  text-align: center;
  align-items: center;
  width: 60vw;
  margin-left: 19vw;
  font-weight: bold;
  font-size: large;
}

.isEnRoute {
  background-color: #f2c66d;
  color: black;
  padding: 12px;
  text-align: center;
  align-items: center;
  width: 60vw;
  margin-left: 19vw;
  font-weight: bold;
  font-size: larger;
}

.isConfirmed {
  background-color: #b2d9ad;
  color: black;
  padding: 12px;
  text-align: center;
  align-items: center;
  width: 60vw;
  margin-left: 19vw;
  font-weight: bold;
  font-size: larger;
}

.isNotConfirmed {
  background-color: #95d5db;
  color: black;
  padding: 12px;
  text-align: center;
  align-items: center;
  width: 60vw;
  margin-left: 19vw;
  font-weight: bold;
  font-size: larger;
}

.backLink > svg {
  margin-bottom: -7px;
  margin-right: 5px;
  text-align: center;
  align-items: center;
  color: black;
}

@media only screen and (max-width: 640px) {
}

@media only screen and (max-width: 768px) {
  .infoBox {
    background-color: #f2f0eb;
    outline: 2px solid black;
    color: black;
    width: 80%;
    border: 1px;
    height: 10%;
    margin-bottom: 15px;
    margin-right: 10%;
  }

  .isAvailable {
    background-color: #658f60;
    color: black;
    padding: 12px;
    width: 80vw;
    margin-left: 8vw;
  }

  .isClosed {
    background-color: #c97b7b;
    color: black;
    padding: 12px;
    width: 80vw;
    margin-left: 8vw;
  }

  .isUnavailable {
    background-color: #f2f0eb;
    color: black;
    padding: 12px;
    width: 80vw;
    margin-left: 8vw;
  }
  
  .isEnRoute {
    background-color: #f2c66d;
    color: black;
    padding: 12px;
    width: 80vw;
    margin-left: 8vw;
  }
  
  .isConfirmed {
    background-color: #b2d9ad;
    color: black;
    padding: 12px;
    width: 80vw;
    margin-left: 8vw;
  }
  
  .isNotConfirmed {
    background-color: #95d5db;
    color: black;
    padding: 12px;
    width: 80vw;
    margin-left: 8vw;
  }
  
  .wholeScreenDiv {
    text-align: center;
    align-items: left;
  }
  .trackNameAndType {
    padding: 8;
    background-color: "#f2f0eb";
    text-align: center;
    align-items: flex-end;
    display: grid;
    flex-direction: "row";
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 1200px) {
}
