.wholeScreenDiv {
  text-align: center;
  align-items: center;
}

.trackNameAndType {
  padding: 8;
  background-color: "#ffffff";
  text-align: center;
  align-items: flex-end;
  display: grid;
  flex-direction: "row";
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.infoBox {
  background-color: white;
  outline: 2px solid black;
  color: black;
  width: 440px;
  border: 1px;
  height: 105px;
  margin: 0 auto;
  margin-bottom: 15px;
  text-align: center;
  align-items: center;
}

.isAvaivable {
  background-color: green;
  color: black;
  padding: 12px;
  text-align: center;
  align-items: center;
  width: 60vw;
  margin-left: 19vw;
}

.isUnavaivable {
  background-color: red;
  color: black;
  padding: 12px;
  text-align: center;
  align-items: center;
  width: 60vw;
  margin-left: 19vw;
}

.backLink > svg {
  margin-bottom: -7px;
  margin-right: 5px;
  text-align: center;
  align-items: center;
  color: black;
}

@media only screen and (max-width: 640px) {
}

@media only screen and (max-width: 768px) {
  .infoBox {
    background-color: white;
    outline: 2px solid black;
    color: black;
    width: 80%;
    border: 1px;
    height: 10%;
    margin-bottom: 15px;
    margin-right: 10%;
  }

  .isAvaivable {
    background-color: green;
    color: black;
    padding: 12px;
    width: 80vw;
    margin-left: 8vw;
  }

  .isUnavaivable {
    background-color: red;
    color: black;
    padding: 12px;
    width: 80vw;
    margin-left: 8vw;
  }
  .wholeScreenDiv {
    text-align: center;
    align-items: left;
  }
  .trackNameAndType {
    padding: 8;
    background-color: "#ffffff";
    text-align: center;
    align-items: flex-end;
    display: grid;
    flex-direction: "row";
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 1200px) {
}
