.container {
  padding: 8;
  background-color: "#ffffff";
}
.rowContainer {
  display: grid;
  flex-direction: "row";
}

.infoBox {
  background-color: white;
  outline: 2px solid black;
  color: black;
  width: 40vw;
  border: 1px;
  height: 10vh;
  margin: 0 auto;
  overflow-y: auto;
  margin-bottom: 15px;
}

.goDown {
  position: relative;
  margin-top: auto;
}

.centerIt {
  text-align: center;
  align-items: center;
}

.inline {
  display: inline;
}

.isAvaivable {
  background-color: green;
  color: black;
  padding: 12px;
  text-align: center;
  width: 40vw;
}

.isUnavaivable {
  background-color: red;
  color: black;
  padding: 12px;
  text-align: center;
  width: 40vw;
}

.maingrid {
  /* container */
  direction: column;
  /*   justify: center;
  alignitems: left;*/
  border-spacing: 10px;
}

.back > svg {
  margin-bottom: -7px;
  margin-right: 5px;
}
