.container {
  padding: 8;
  background-color: "#ffffff";
}
.rowContainer {
  display: grid;
  flex-direction: "row";
}
.link {
  padding-right: 8px;
  margin-right: 10px;
  color: black;
}
.infoBox {
  background-color: white;
  outline: 2px solid black;
  color: black;
  width: 40vw;
  border: 1px;
  height: 10vh;
  margin: 0 auto;
  overflow-y: auto;
}

.goDown {
  position: relative;
  margin-top: auto;
}

.rataInfo {
  text-align: center;
  align-items: center;
}

.inline {
  display: inline;
}

.ggbox {
  background-color: green;
  color: black;
  padding: 12px;
  text-align: center;
  width: 40vw;
}

.maingrid {
  /* container */
  direction: column;
  /*   justify: center;
  alignitems: left;*/
  border-spacing: 10px;
}
