.schedulingRoot {
  padding: 1vmin 5vmin 1vmin 5vmin;

  .MuiButton-contained {
    margin: 1vmin 1vmin 1vmin 0vmin;
  }
}

.schedulingRoot {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  .header {
    text-align: center;
    margin: 20px 0px 16px 0px;
  }

  .firstSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #F5F5F5;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    width: 811px;
    padding: 20px;
    margin: 0px 0px 12px 0px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

    .options{
      display: flex;
      flex-direction: column;
      background-color: #ebebeb;
      border-radius: 10px;
      border: 1px solid #e7e7e7;
      width: 412px;
      padding: 16px 20px 16px 20px;

      .text {
        display: flex;
        align-self: center;
        width: 100px;
      }

      .topRow {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        //justify-content: space-between;
      }

      hr {
        color: #ECECEC;
        margin: 12px 0px 16px 0px;
        opacity: 0.30;
      }

      .middleRow {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0px 8px 0px 0px;

        .text {
          margin-right: 15px;
        }

        .MuiFormControl-root {
          width: 100px;
          margin-top: -5px;
        }

        .dash {
          padding: 0px 20px 0 20px;
        }
      }

      .bottomRow {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;

        .officerSwitch {
          margin-right: 10px;
        }

        .roSwitch {
          display: flex;
        }

        .MuiFormControl-root:nth-child(2) {
          min-width: 150px;
        }
      }
    }
  }

  .secondSection {
    background-color: #F5F5F5;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    width: 811px;
    padding: 20px;
    margin: 12px 0px 12px 0px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

    .headingTracks {
      margin: 0px;
    }

    .tracks {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      margin: 16px 0px 16px 0px;
    }

    .trackBox{
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      padding: 8px;
      margin: 4px;
    }

    .track-closed {
      background-color: #FAE0E0;
      border: 1px solid #df8d8d;
    }

    .track-open {
      background-color: #EEFCE0;
      border: 1px solid #669B51;
    }

    .trackSwitchRow {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
    }

    .notice::placeholder {
      opacity: 0.3;
    }
  }

  .thirdSection {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 20px;
    background-color: #F5F5F5;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    width: 811px;
    padding: 20px;
    margin: 12px 0px 12px 0px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

    .headingAdvanced{
      margin: 0px;
    }

    .repetition {
      display: flex;
      flex-direction: column;
      background-color: #ebebeb;
      border-radius: 10px;
      border: 1px solid #e7e7e7;
      width: 412px;
      padding: 8px 20px 8px 20px;
  
      hr {
        color: #ECECEC;
        margin: 6px 0px 6px 0px;
        opacity: 0.30;
      }

      .daily {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .weekly {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .monthly {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .repeatCount {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 412px;
      padding: 0px 20px 8px 20px;
    }

    .MuiFormControl-root {
      padding-left: 10px;
      width: 50px;
    }

    padding-bottom: 10px;
  }

  .save {
    display: flex;
    justify-content: space-between;
    width: 811px;
    padding: 0px 20px 0px 0px;
    margin: 12px 20px 0px 0px;
  }

  .arrow-right {
    padding: 0;
    margin: 0;
    margin-left: 5px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid black;
    display: flex;
    align-items: center;
  }

  .hoverHand:hover {
    cursor: pointer;
  }
}