@import '../shared.module.scss';

.dialogStyle {
  background-color: $COLOR_WHITE;
}

.errorText {
  font-size: 20px;
  color: $COLOR_RED !important;
  text-align: center;
}

.userbox {
  @extend .layout-row;
  justify-content: center;
  flex-wrap: wrap;

  .turquoiseButton {
    background-color: $COLOR_TURQUOISE;
    margin: 15px;
    text-align: center;
  }

  .sandButton {
    background-color: $COLOR_SAND;
    margin: 15px;
    text-align: center;
  }

  .lightgreenButton {
    background-color: $COLOR_GREEN_LIGHT;
    margin: 15px;
    text-align: center;
  }
}

.header {
  text-align: center;
}

.tableContainer {
  max-width: 1000px;
  table-layout: auto;

  .table {
    background-color: $COLOR_BLACK_TINT_20;
  }
}

.select {
    margin-top: 15px;
}

.removeButton {
    background-color: $COLOR_RED_LIGHT;
}
