/* Breakpoints
    xs, extra-small: 0px
    sm, small: 600px
    md, medium: 960px
    lg, large: 1280px
    xl, extra-large: 1920px
*/

.dayviewContainer h1 {
  margin:2vmin;
}

.dayviewContainer h2 {
  margin:2vmin;
}

.dayviewContainer {
  padding:5vmin 20vmin 5vmin 20vmin;
}

@media only screen and (max-width: 1280px) {
  .dayviewContainer {
    padding:5vmin 10vmin 5vmin 10vmin;
  }
}

@media only screen and (max-width: 600px) {
  .dayviewContainer {
    padding:2vmin 2vmin 2vmin 2vmin;
  }
}

.dayviewContainer .dateHeader {
  flex-wrap:nowrap;
}

.dayviewContainer .dateHeader .titleContainer {
  display:flex;
  align-items:center;
  text-align: start;
  justify-content: space-around;
  flex-wrap:wrap;
}

@media only screen and (min-width: 600px) {
  .dayviewContainer .dateHeader .titleContainer {
    width: 50vmin;
  }
}

.dayviewContainer .info {
  text-align: center;
  background:lightgreen;
}

.dayviewContainer .eightGrid {
  border:solid 1px black;
}

/* To have 6 boxes force size 100% / 6 = 16.666666666666667% */
.dayviewContainer .eightGrid > div {
    max-width:16.666666666666667%;
    text-align: ce;
    align-items: stretch;
    flex-wrap:wrap;
    flex-direction: row;
}

.dayviewContainer .sevenGrid {
  border:solid 1px black;
}

/* To have 7 boxes force size 100% / 7 = 14.28571428571429% */
.dayviewContainer .sevenGrid > div {
    max-width:14.28571428571429%;
    text-align: ce;
    align-items: stretch;
    flex-wrap:wrap;
    flex-direction: row;
}

.dayviewContainer .eightGrid {
  border:solid 1px black;
}

/* To have 8 boxes force size 100% / 8 = 12.5% */
.dayviewContainer .eightGrid > div {
    max-width:12.5%;
    text-align: ce;
    align-items: stretch;
    flex-wrap:wrap;
    flex-direction: row;
}

.dayviewContainer .tenGrid {
  border:solid 1px black;
}

/* To have 10 boxes force size 100% / 5 = 20% */
.dayviewContainer .tenGrid > div {
    max-width:20%;
    text-align: ce;
    align-items: center;
    flex-wrap:wrap;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .dayviewContainer .sevenGrid > div {
    max-width:100%;
  }
}

.dayviewContainer .track {
  background:#b0aca0;
  border:solid 1px black;
  box-sizing: border-box;
}

.dayviewContainer .track > a > p {
  padding-left:2vh;
  overflow:hidden;
  font-size:100%;
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .dayviewContainer .track > a > p {
    font-size:60%;
  }
}

.dayviewContainer .clickableBox {
  box-sizing: border-box;
  background:white;
  padding:25% 0vh 25% 0vh;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .dayviewContainer .clickableBox {
    background:white;
    padding:2vh;
  }
}

.dayviewContainer .otherInfo {
  margin-top:2vh;
}

.dayviewContainer .colorInfo {
  margin-bottom:1vh;
}

.dayviewContainer .excolor {
  border:solid 1px black;
  width:20px;
  margin-right:5px;
  display:inline-block;
}

.dayviewContainer .colorInfo > p {
  margin:0;
  padding:0;
  display:inline-block;
}

.dayviewContainer .greenB {
  background:#658f60;
}

.dayviewContainer .lightGreenB {
  background:#b2d9ad;
}

.dayviewContainer .blueB {
  background:#95d5db;
}

.dayviewContainer .redB {
  background:#c97b7b;
}

.dayviewContainer .whiteB {
  background:#f2f0eb;
}

.dayviewContainer .yellowB {
  background:#f2c66d;
}

.dayviewContainer .arrow-right {
  padding:0;
  margin:0;
  margin-left:5px;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  
  border-left: 20px solid black;

  display: flex;
  align-items: center;
}

.dayviewContainer .arrow-left {
  padding:0;
  margin:0;
  margin-right:5px;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  
  border-right:20px solid black; 
  text-align: right;

  display: flex;
  align-items: center;
}

.dayviewContainer .back > svg {
  margin-bottom:-7px;
  margin-right:5px;
}

.dayviewContainer .hoverHand:hover {
  cursor: pointer;
}

.dayviewContainer .trackBoxLink{
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color:black;
}
