.sevenGrid {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.DayviewInfo {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 0;
}

.overflowHidden {
  overflow: hidden;
  display: inline;
}

.bold {
  font-weight: bold;
}

.hidden {
  margin-right: 8px;
  margin-left: 8px;
  font-weight: bold;
}

.linebreak {
  display: none;
}

.Track {
  font-size: 32px;
}

h1.headerText{
  font-size: 24px;
}

h2.headerText{
  font-size: 16px;
  text-align: center
}

.infoImg {
   position: absolute;
   left: 7px;
   bottom: 1px;
   height: 22px;
   width: 22px;
   margin-right: 8px;
   margin-bottom: 0px;
   clear: both;
   min-height: 22px;
   min-width: 22px;
}

.infoImg-2 {
   position: relative;
   margin: 0;
   width: 20%;
   max-height: 32px;
   max-width: 32px;
}

.dayviewContainer h1 {
  margin:2vmin;
}

.dayviewContainer h2 {
  margin:2vmin;
}

.dayviewContainer .dateHeader {
  flex-wrap:nowrap;
}

.dayviewTrackContainer{
  display: flex;
  margin-bottom: 16px;
  justify-content: center;
}

.dayviewContainer .dateHeader .titleContainer {
  display:flex;
  align-items:center;
  text-align: start;
  justify-content: space-around;
  flex-wrap:wrap;
}

@media only screen and (min-width: 600px) {
  .dayviewContainer .dateHeader .titleContainer {
    width: 50vmin;
  }
}

.dayviewContainer .info {
  text-align: center;
  background:lightgreen;
}

  .dayviewContainer .sevenGrid > div {
    max-width:100%;
}

.dayviewContainer .track {
  position: relative;
  background:#b0aca0;
  border:solid 1px black;
  box-sizing: border-box;
  min-height: 100px;
}

.dayviewContainer .clickableBox {
  box-sizing: border-box;
  background:white;
  padding:25% 0vh 25% 0vh;
  text-align: center;
}

.dayviewContainer .greenB {
  background:#658f60;
}

.dayviewContainer .lightGreenB {
  background:#b2d9ad;
}

.dayviewContainer .blueB {
  background:#95d5db;
}

.dayviewContainer .redB {
  background:#c97b7b;
}

.dayviewContainer .whiteB {
  background:#f2f0eb;
}

.dayviewContainer .yellowB {
  background:#f2c66d;
}

.dayviewContainer .arrow-right {
  padding:0;
  margin:0;
  margin-left:5px;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  
  border-left: 20px solid black;

  display: flex;
  align-items: center;
}

.dayviewContainer .arrow-left {
  padding:0;
  margin:0;
  margin-right:5px;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  
  border-right:20px solid black; 
  text-align: right;

  display: flex;
  align-items: center;
}

.dayviewContainer .back > svg {
  margin-bottom:-7px;
  margin-right:5px;
}

.dayviewContainer .hoverHand:hover {
  cursor: pointer;
}

.dayviewContainer .trackBoxLink{
  display: block;
  width: 96%;
  height: 100%;
  text-decoration: none;
  color:black;
  padding-left: 2%;
  padding-right: 2%;

}

/* media files */

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media only screen and (min-width:320px) {

}
/* smartphones, Android phones, landscape iPhone */
@media only screen and (min-width:480px) {
h1.headerText{
  font-size: 32px;
}

h2.headerText{
  font-size: 24px;
}

}
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media only screen and (min-width:600px) {
.sevenGrid {
  display: flex;
  flex-direction: row;
  justify-content:center;
  width: 100%;
}
/* To have 7 boxes force size 100 / 7 = 14.28571428571429 */
.dayviewContainer .sevenGrid > div {
    width:14.28571428571429%;
    max-width: 150px;
    height: 150px;
}
.hidden {
  display: none;
}
.linebreak {
  display: inline;
}
.dayviewContainer .trackBoxLink{
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}
.overflowHidden {
  overflow: hidden;
  max-height: 60%;
  display: inline-block;
}


}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media only screen and (min-width:801px) {

}
/* big landscape tablets, laptops, and desktops */
@media only screen and (min-width:1025px) {

}
/* hi-res laptops and desktops */
@media only screen and (min-width:1281px) {
.dayviewContainer .sevenGrid > div {
    max-width: 150px;
    height: 150px;
}
}

@media only screen and (orientation: landscape) {

}